*{
   margin: 0%;
   padding: 0%;
}

.screen{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}

h1{
   font-size: 20px;
}

h3{
   margin: 0%;
   padding: 0%;
   height: 50px;
}

.picture{
   font-size: 1.05em;
}

.faile{
   font-size: 1.95em;
}

.foto{
   font-size: 2.535em;
}

img{
   margin: 0px auto;
   width: 100%;
   height:90%;
}

.back{
   font-style: italic;
}