*{
   margin: 0%;
}

.screen{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
}

@media (min-width: 992px){
   .screen{
       flex-wrap: nowrap;
   }
}

h1{
   text-align: center;
   font-size: 22px;
}
.back{
   font-style: italic;
}
.buy{
   font-weight: bold;
   text-align: center;
}
.my{
   font-weight: bold;
   text-align: center;
}

.link:hover{
   color: rgb(23, 23, 240);
}

.four{
   background-color: rgb(193, 145, 232);
 }

.gray{
   background-color: rgb(118, 114, 114);
 }


