*{
   box-sizing: border-box;
}

h1{
   text-align: center;
}

article{
   padding: 0 3% 3% 3%;
}

.zagolovok{
   padding: 0 1% 3% 3%;
}

.caption{
   background-color: rgb(187, 228, 246);
   border: 3px solid rgb(0, 0, 0); 
}

.text{
   width: 100%;
   height: 20%;
   position: relative;
   padding-bottom: 7%;
   
}

.caption1{
   font-size: 10px;
   text-align: center;
   border: 2px solid rgb(0, 0, 0); 
   position: relative;
   width: 20%;
   float: right;
   background-color: #0c3d3e;
   color: rgb(255, 255, 255);
}

.caption2{
   font-size: 10px;
   text-align: center;
   border: 2px solid rgb(0, 0, 0); 
   position: relative;
   width: 20%;
   float: right;
   background-color: #410c37;
   color: rgb(255, 255, 255);
}

.caption3{
   font-size: 10px;
   text-align: center;
   border: 2px solid rgb(0, 0, 0); 
   position: relative;
   width: 20%;
   float: right;
   background-color: #d268ad;
}